.cards__inner{
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 4px;
  padding-bottom: 50px !important;
}

.cards__input{
  width: 75%;
  border: 1px solid #c4c4c4;
  padding: 15px;
  border-radius: 4px;
  position: relative;
}

.cards__input:hover{
  border-color: #666;
}

.cards__search{
  border: none;
  width: 100%;
  padding-left: 30px;
}

.cards__search:focus{
  outline: none;
}

.cards__input:focus{
  outline: 2px solid #253053;
}

.cards__icon{
  position: absolute;
  left: 15px;
  top: 17px;
}

.cards__info{
  position: absolute;
  top: 0;
  left: 15px;
  top: -13px;
  background-color: #fff;
  font-size: 13px;
}

.cards__inner{
  padding: 25px 40px;
}

.cards__btn{
  border: 1px solid #333996;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: 500;
  color: #333996;
}


.table{
  width: 102%;
  position: relative;
  left: -15px;
}

.table__head{
  font-size: 14px;
  color: #333996;
  padding: 10px 20px;
  background-color: #e2e3f3 !important;
}
.table__button{
  color: #333996;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.4s ease;
}

.table__btns{
  font-weight: 600;
  color: #333996;
}


tr th{
  padding: 15px !important;
}
tr td{
  font-weight: 300;
  padding: 15px !important;
}

.edit-btn{
  color: #333996;
  background-color: #e2e3f3;
  font-size: 22px;
  padding: 0 6px;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.remove-btn{
  background-color: #fee0e3;
  color: #f83245;
  padding: 0 6px;
  transition: all 0.4s ease;
  font-size: 22px;
  border-radius: 4px;
}

.remove-btn:hover{
  background-color: #f4f5fd;
}

.edit-btn:hover{
  background-color: #f4f5fd;
}

td{
  cursor: pointer;
}
.edit-wrapper{
  padding: 0 0 !important;
}
